
/*global
/*Head toolbar
/* Add a black background color to the top navigation */
.logo{
    max-width: 30px;
  }
  .logobtn{
  border-color: #ffffff00;
  }

  .ofcnme{
  
    float: right;
    margin-right: 1%;
  }
  .outbtn{
    border-left: #000000 solid;
    float: right;
    margin-right: 1%;
  }
    .topnav {
    width: 100%;
    margin-left: 1%;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #000000;
    padding: 10px ;
    text-decoration: none;
    font-size: 20px;
  }
  .mat-slider-horizontal .mat-slider-ticks {
    background-image: repeating-linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) 2px, transparent 0, transparent);
    background-image: -moz-repeating-linear-gradient(0.0001deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) 2px, transparent 0, transparent);
  }
  /* Change the color of links on hover */
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: rgb(205, 175, 175);
  }
  
  a{
    float: left;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }
  input{
    height: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  /* end of global------------------------------------------------------------------------
  ofixdash*/
  table{
  width: 100%;
   
  border: #000000 solid 1px;
  
  th {
    text-align: center;
  }

  tr{
    border: #b33333 solid;
    width: 100%;

  }

  td{
    border: #b33333 solid;
  }
  .qlst{
    padding: 5px;
    text-align: center;
    width: 50%;
  }
  .qlist{
    float: left;
  }
  }

    .dvlist{ 
    height: 100%;
    width: 30%;
    font-size: xx-large; 
    float: left;
  }
  .qflash{
    width: 69%;
    float: left;
    align-items: center; 
    height: 100%;
    font-size: 700%;
  }
  .qscan{
    height: 59%;
    width: 99%;
    margin: 1px;
    float: initial;
  }
  .list{
    height: 41%;
    width: 99%;
    margin: 1px;
    float: initial;
    overflow: hidden;
  }