
  <ion-toolbar>
 
    <div class="topnav">
      <ion-button class="logobtn"><img class="logo" src="assets\samplelogo.jpg" alt=""></ion-button>
      <a href="" class="outbtn" >logout<img src="a"></a>
      <a href=""  type="text" class="ofcnme">office name</a>
     </div>
</ion-toolbar>


<ion-content>
<!--office dashboard-->

  <body  >
    <div class="ofcdsh">
      <div class="dvlist">
        <div class="list">        
          <table class="qlist">      
            <tr >
              <td class="qlst">
                quenumber
              </td>
              <td class="qlst">querid</td>
            </tr>
            </table>
            <table class="qlist" *ngFor="let qer of queuer">
            <tr >    
              <td class="qlst"> {{qer.qnum}}</td>
              <td class="qlst"> {{qer.querid}} </td>
            </tr>
          </table>     
        </div>          
        
        <div class="qscan">
          Scan your code here>>>
        </div>
      </div>     

      <div class="qflash" *ngFor="let qer of queuer">
        <p>PLEASE COME INSIDE THE OFFICE</p>
        <p>QUEUER: {{qer.querid}}</p>
      </div>

    </div>
  </body>
</ion-content>
