<ion-header>
  <ion-toolbar>
      <div  class="topnav">
        <img width="10px" src="assets\samplelogo.jpg" alt="">
        <a href="">Contact</a>
        <a href="">About</a>
      </div>    
  </ion-toolbar>
</ion-header>
<ion-content>
  <body>
    <div  class="mainlogin">
      <table  class="logcont">
        <td  align="center" class="login">
          <p  class="loginnote">Login</p>
          <input   placeholder ="user" type="username" ng-model="username">
          <br >
          <input  placeholder ="password" type="password" ng-model="password">
          <hr>
          <button (click)="forgot()" class="forgot">forget password?</button>
          <hr>
          <button (click)="godash()" type="button" name="lognbtn" class="button loginbtn">public login</button>
          <hr>
          <button (click)="ofdash()" type="button" name="lognbtn" class="button loginbtn">office login</button>
          <hr>
          <button (click)="sgnup()" type="button" name="signbtn" class="button sngupbtn"> SIGN UP</button>
        </td>      
       </table>   
    </div>  
  </body>
</ion-content>

    
 

