
<ion-header>
  <ion-toolbar>
      <div  class="topnav">
          <a href=""><img width="10px" src="src\assets\samplelogo.jpg" alt=""></a>
          <a href="">Contact</a>
          <a href="">About</a>
         </div>    </ion-toolbar>
</ion-header>
<ion-content>
  <body >
    <div  class="mainlogin">
      <table  class="logcont">
        <td  align="center" class="login">
          <p  class="loginnote">Login</p>

          <input   placeholder ="user" type="username" ng-model="username">
          <br >
     
          <input  placeholder ="password" type="password" ng-model="password">
          <br >
            <a  href="">forget password?</a>
          <br >
          <br>
          <button type="button" name="lognbtn" class="button loginbtn">Login</button>
          <h6>-or-</h6>
          <a  href="signup()">Sign up</a>
        </td>
      </table>
    </div>
  </body>
</ion-content>
