<ion-header>
  <ion-toolbar>    
    <div  class="topnav">
      <a href=""><img width="10px" src="src\assets\samplelogo.jpg" alt=""></a>
      <a href="">Contact</a>
      <a href="">About</a>
     </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--sign up page-->
  <head >
    <title >signup</title>
  </head>
  <body >
    <br >

    <br >
    <br >
    <br >
    <div  align="center" class="signupp">
      <table  class="table1">
        <td   class="login">
          <br >
          <input  placeholder="First Name" type="text" ng-model="First Name" required>
          <br >
          <input   placeholder="Last name" type="text" ng-model="Last Name" required>
          <br>
          <input type="radio" name="gender" value="male"> Male
          <input type="radio" name="gender" value="female"> Female
          <br>
          <input   type="email" ng-model="Email" required>
        </td>
        <td   class="signup2">
          <br >
          <input placeholder="Password"  type="password" ng-model="password" required>
          <br >
          <input  placeholder="Confirm Password" type="password" ng-model="password" required>
          <br>
          <button  type="button" name="signup" class="button signupbtn" >SIGN UP!</button>
        </td>
      </table>
    </div>
  </body>

</ion-content>
