<ion-header>
  <ion-toolbar>    
    <div class="topnav">
      <a href=""><img width="10px" src="src\assets\samplelogo.jpg" alt=""></a>
      <a href="">Contact</a>
      <a href="">About</a>
     </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--sign up page-->
  <body>
    <hr>
  <div  align="center" class="signupp">
      <table  class="table1">
        <td   class="login">
          <br >
          <input  placeholder="First Name" type="text"  required>
          <hr>
          <input   placeholder="Last name" type="text"  required>
          <hr>
          <input type="radio" name="gender" value="male"> Male
          <input type="radio"  name="gender" value="female"> Female
          <hr>
          <input   type="email" placeholder="Email" required>
        </td>
        <td   class="signup2">
          <br >
          <input placeholder="Password"  type="password"  required>
          <hr>
          <input  placeholder="Confirm Password" type="password"  required>
          <hr>
          <ion-checkbox id="tnachck"></ion-checkbox>
          <label for="tnachck" class="chcbxlbl">I Agree to terms and condition</label>
          <hr>
          <button  type="submit" name="signup" class="button signupbtn" >SIGN UP!</button>
        </td>
      </table>
    </div>
  </body>

</ion-content>
