
    .office{
        width: 100%;
        max-width: 430px;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
    }
    .ofccard{
        height: 500px;
    }
.ofcinfo{
    padding: 20px;
    font-size: xx-large;
}
.wnd{
    font-size: xx-large;
}

.close{
    width: 27px;
    height: 27px;
}